<html>
	<head>
		<title>Suyapa's Blog</title>
	</head>
	<body>
	
		<div>
			<h1><a href="">Suyapa's Blog</a></h1>
		</div>
		
		<div>
			<p>published: 08/10/2015, 14:00</p>
			<h2><a href=""> My First Blog</a></h2>
			<p>Todos somos muy ignorantes. Lo que ocurre es que no todos ignoramos las mismas cosas. - Albert Einstein</p>
		</div>
		
		<div>
			<p>published: 08/10/2015, 14:03</p>
			<h2><a href=""> My First Blog</a></h2>
			<p>El éxito es un mal maestro. Seduce a la gente inteligente a pensar que no pueden perder. - Bill Gates.</p>
		</div>
		
	</body>
</html>